* {
  margin: 0;
  padding: 0;
  font-family: 'Recursive', sans-serif;
}

.logo {
  width: 50px;
  height: auto;
}

.jumboText {
  line-height: 2em;
  text-align: center;
}

.loginJumbo {
  width: 85%;
  margin: 0 auto;
}

.loginBox{
  width: 50%;
  margin: 0 auto;
}

.loginCard {
  width: 50%;
  margin: 0 auto;
}

/* .masterDiv {
  width: 100%;
  text-align: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
} */

/* .content {
  text-align: center;
  text-align: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
} */

li {
  list-style: none;
}

.about {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin: 0 auto;
}

.aboutPage {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.aboutImg {
  width: 400px;
  height: 400px;
  margin: 10px;
}

.member {
  width: 400px;
  height: 500px;
  text-align: center;
  margin: 15px;
}


footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 1em;
  position: sticky;
}

.event-list {
  list-style: none;
}
.create-event-list {
  list-style: none;
}

.createEvent {
  margin-bottom: 100px;
}




/******** COMMENT *********/


.comment-delete {
  border: none;
  background: #F0F8FF;
  
}

.comment-container {
  padding: 0px;
}


.comment-list {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 20px;
  list-style: none;
}







/******** EVENT *********/

.event-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card-title {
  background: #F0F8FF;
}

.event-title {
  margin-left: 10px;
  width: 100%;
}

.card-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #17a2b8;
}

.card {
  width: 90%;
  height: 100%;
  margin: 20px
}

.delete-event {
  margin-right: 5px;
}

.event-delete-btn {
  text-decoration: none;
  padding: -8;
}







/******** Home *********/

.home-container {
  width: 100%;
  margin-bottom: 100px;
}

.homeText {
  text-align: center;
}





/******** Profile *********/

.profile-container {
  height: 100%;
  width: 100%;
  margin-bottom: 100px
}

.profile-event-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.profile-event-title {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.profile-event-h2 {
  width: 100%;
}

.create-event-link {
  margin-bottom: 90px
}







/******** LOGOUT *********/

.logout-link {
  cursor: pointer;
}