body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-style {
  background: rgba(103, 103, 103, 0.5);
  width: 100%;
  padding: 0;
}

.delete-event {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1em;
}


/* .event1 {
  background: cornsilk;
  height: 100%;
  width: 100%;
} */

