body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.delete-event {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1em;
}


.event-list {
  list-style: none;
}
.create-event-list {
  list-style: none;
}







/******** COMMENT *********/


.comment-delete {
  border: none;
  background: #F0F8FF;
  
}

.comment-container {
  padding: 0px;
}


.comment-list {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 20px;
  list-style: none;
}







/******** EVENT *********/

.event-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%
}

.card-title {
  background: #F0F8FF;
}

.event-title {
  width: 100%;
}

.delete-event-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px
}

.card-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.event-delete {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}





/******** Card *********/

.card-body{
}
.card {
  width: 100%;
  margin: 20px
}